html,body
{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: '方正兰亭黑简体常规',Microsoft Yahei, STheiti, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
}
.nav-bar
{
	float: left;
	width: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	height: 20%;
	background: #2e8bcc;
	color: #FFF;
}
.version
{
	float: left;
	width: 20%;
	position: fixed;
	margin: 0;
	padding: 0;
	text-align: right;
	line-height: 100%;
	text-indent: 0;
	height: 6%;
	top: 14%;
	right: 4%;
	color: #FFF;
}
.version a
{
	color: #FFF;
	text-decoration: none;
}
.version a:hover,
.version a:focus
{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.menu
{
	float: left;
	position: fixed;
	bottom: 0;
	left: 6%;
	width: 280px;
	text-indent: 50px;
	height: 75%;
	background-color: #F0F0F0;
	z-index: 1000;
}
.menu ul
{
	margin: 30px 0;
	padding: 0;
	width: 100%;
	list-style:none;
}
.menu ul li
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
}
.active
{
	border-right: solid 2px #2e8bcc;
}
.menu a
{
	display: block;
	width: 100%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	color: #716B7A;
	text-decoration: none;
	text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.8);
}
.menu a:hover,
.menu a:focus
{
	background: #E0E0E0;
	color: #428BCA;
}
.content
{
	float: left;
	width: 900px;
	position: fixed;
	right: 4%;
	top: 25%;
	height: 70%;
	line-height: 30px;
	overflow-y:auto;
	overflow-x:hidden;
	text-align: center;
}
.content *
{
	vertical-align:middle;
}
.content p
{
	padding: 0;
	
}
.content img
{
	margin: 0;
	padding: 0;
	border:none
}
.content a
{
	color: #716B7A;
	line-height: 200%;
	text-decoration: none;
}
.content a:hover,
.content a:focus
{
	background: #E0E0E0;
	color: #428BCA;
}
.footer
{
	float: left;
	width: 900px;
	position: fixed;
	right: 4%;
	bottom: 0;
	height: 5%;
	overflow: hidden;
	background: #A0A0A0;
	text-align: center;
	line-height: 33px;
	font-size: 15px;
}
.footer p
{
	margin: 0;
	padding: 0;
	color: #FFF;
}
.footer a
{
	color: #FFF;
	text-decoration: none;
}
.footer a:hover,
.footer a:focus
{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}
.welcome
{
	width: 80%;
	padding: 0;
	margin: 0 auto;
}
.tag
{
	color: #000;
	float: left;
	display: none;
	position: fixed;
	border: solid 1px #000;
	background: #EEEEEE;
	padding: 15px;
	box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.72), 0 0 0 rgba(0, 0, 0, 0.06) inset;
	z-index: 997;
}
.half
{
	overflow: auto;
	float: left;
	width: 49.2%;
	height: 40px;
	background: #7fb80e;
}
.halfright
{
	overflow: auto;
	float: left;
	width: 49.3%;
	border-left: solid #000 1px;
	height: 40px;
	background: #7fb80e;
}
.red
{
	background: #d71345;
}
.shader
{
	box-shadow: 50px 50px 50px rgba(0,0,0,0.4) inset; 
}
.over
{
	background: #2e8bcc;
}
.order
{
	text-align: center;
	line-height: 30px;
	padding: 30px;
	display:none;
}
.order #content
{
	padding: 5px;
	margin-top: 10px;
	width: 180px;
}
.order #vcode
{
	float: left;
	padding: 5px;
	margin: 10px 20px 0 0;
	width: 100px;
}
.order img
{
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
}
.order button
{
	font-family: '方正兰亭黑简体常规',Microsoft Yahei, STheiti, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	font-size: 15px;
	padding: 5px;
	margin: 10px 18px;
}
.userCenter
{
	width: 420px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	right: -420px;
	background: #FFF; 
	transition: right 0.5s;	
	box-shadow: -5px 0px 5px rgba(0,0,0,0.6);
	z-index: 999;
}
.userCenter.show
{
	right: 0;
}
.widget
{
	display: table;
	text-align: left;
	width: 60px;
	height: 60px;
	top: 50%;
	overflow: auto;
	position: fixed;
	right: 10px;
	transition: right 0.5s;
	z-index: 998;
}
.widget.show
{
	right: 430px;
}
.widget img
{
	margin-left: 5px;
}
.widget span
{
    display: table-cell;
    vertical-align: middle;
}
.info
{
	width: 420px;
	height: 420px;
	background-image: url('../images/sunrise.jpg');
	z-index: 1;
}
.name
{
	width: 240px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	font-weight:bold;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	position: relative;
	top: 40px;
	left: 30px;
}
.avatar
{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 380px;
	margin-left: -40px;
	border-radius: 80px;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	z-index: 4;
}
.avatar_mask
{
	position: absolute;
	top: 0;
	width: 80px;
	height: 80px;
	background-image: url('../images/mask.png');
	background-size: 80px 80px;
	z-index: 3;
}
.avatar img
{
	position: absolute;
	top: 0;
	width: 80px;
	height: 80px;
	z-index: 2;
}
.options
{
	width: 100%;
	height: auto;
	margin-top: 30px;
	padding: 0;
	overflow: auto;
}
.options a
{
	display: block;
	height: 40px;
	line-height: 40px;
	color: #606060;
	font-size: 20px;
	text-decoration: none;
	font-weight:bold;
	text-align: center;
}
.options a:hover,
.options a:focus
{
	background: #EEEEEE;
}
.options ul
{
	width: 100%;
	margin: 0;
	padding: 0;
}
.options ul li
{
	display: block;
	float: left;
	width: 50%;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: solid 2px #000;
}
.selected
{
	border-bottom: solid 2px #2e8bcc;
}
.optionContent
{
	width: 420px;
	height: auto;
	padding: 0;
	text-align: center;
	margin-top: 20px;
}
.optionContent input
{
	width: 240px;
	padding: 8px;
	margin-left: 90px;
	border-radius: 5px;
	text-align: center;
	border: 1px solid rgb(178, 178, 178); 
    box-sizing : content-box; 
	vertical-align:middle;
}
.optionContent button
{
	height: 40px;
	padding: 0;
	border-radius: 10px;
	border: 0px; 
	font-size: 20px;
	line-height: 35px;
	font-weight:bold;
	color: #FFF;
}
.optionContent button:hover
{
	background: red; 
}
.optionContent button:active
{
	box-shadow: 1px 1px 2px 0px #000 inset; 
}
#message
{
	width: 360px;
	height: 80px;
	font-size: 18px;
	padding: 10px;
	margin: 20px;
	border-radius: 5px;
}
.leavemsg input
{
	float: left;
	width: 80px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	margin: 0 20px 20px 20px;
	border: 1px solid rgba(91, 90, 90, 0.7);
	padding: 5px;
}
.leavemsg input:active, 
.leavemsg input:focus{
    border: 1px solid rgba(91, 90, 90, 0.7); 
    background: rgba(238, 236, 240, 0.2); 
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset; 
}
.leavemsg img
{
	float: left;
	height: 40px;
	margin: 0px;
	padding: 0;
}
.leavemsg button
{
	position: absolute;
	width: 80px;
	height: 40px;
	line-height: 30px;
	font-size: 25px;
	right: 20px;
	margin: 0;
	padding: 0;
	border-radius: 10px;
	border: 0px; 
	font-size: 20px;
	font-weight:bold;
	background: #2e8bcc;
	color: #FFF;
}
.leavemsg button:hover
{
	background: red; 
}
.leavemsg button:active
{
	box-shadow: 1px 1px 2px 0px #000 inset; 
}
textarea:active,
textarea:focus,
input:active, 
nput:focus{ 
    border: 1px solid rgba(91, 90, 90, 0.7); 
    background: rgba(238, 236, 240, 0.2); 
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset; 
}
input,textarea,button
{
	font-family: '方正兰亭黑简体常规',Microsoft Yahei, STheiti, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
}
.reset
{
	width: 100px;
	background: #606060;
	position: relative;
	margin-left: 90px;
}
.register,
.login
{
	width: 100px;
	background: #2e8bcc;
	position: relative;
	margin-left: 60px;
}
.logout
{
	width: 100px;
	background: #606060;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}
.normal
{
	width: 180px;
	background: #2e8bcc;
	position: relative;
	margin-top: 20px;
}
.disabled
{
	background: #606060;
}
#pageLogin
{	
	float: left;
	position: absolute;
	top: 500px;
	left: 0px;
	transition:all 0.6s ease-in-out;
	background: #FFF;
}
#pageLogin  button
{
	margin-top: 50px;
	margin-bottom: 20px;
}
#pageLogin input
{
	margin-top:50px;
}
#pageReg
{	
	float: left;
	position: absolute;
	top: 500px;
	left: 420px;
	transition:all 0.6s ease-in-out;
	background: #FFF;
}
#pageReg  button
{
	margin-top: 20px;
	margin-bottom: 20px;
}
#pageReg input
{
	margin-top: 20px;
}
.write
{
	width: 100px;
	height: 100px;
	background-image: url('../images/write.png');
	position: fixed;
	opacity:0.6;
	bottom: 50px;
	right: 80px;
	z-index: 998;
}
table
{
	border-collapse: collapse;
	border: none;
	margin: 30px auto 5px auto;
}
td
{
	border: solid #000 1px;
	padding: 0;
}
input, textarea 
{
	color: #000;
}
/* placeholder */ 
::-webkit-input-placeholder 
{ 
    color: rgb(190, 188, 188); 
    'font-style: italic; 
} 
input:-moz-placeholder, 
textarea:-moz-placeholder
{ 
    color: rgb(190, 188, 188); 
    'font-style: italic; 
} 
input 
{ 
  outline: none; 
} 
::-webkit-scrollbar {
	width:12px;
	height:14px;
	background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(202,202,202,0.07)),color-stop(100%,rgba(229,229,229,0.07)));
	background:-webkit-linear-gradient(left,rgba(202,202,202,0.07) 0%,rgba(229,229,229,0.07) 100%);
	background-color:rgba(229,229,229,.3);
	-webkit-box-shadow:0 0 1px 0 rgba(0,0,0,.15) inset,0 1px 0 0 #fff;
	box-shadow:0 0 1px  0 rgba(0,0,0,.15) inset,0 1px 0 0 #fff;
	overflow:visible;
	border-radius:4px;
	border:solid 1px #A6A6A6;
}
::-webkit-scrollbar-button {
	width:0;
	height:0;
	display:block;
	background-color:transparent;
}
::-webkit-scrollbar-track {
	}::-webkit-scrollbar-track-piece {
	}::-webkit-scrollbar-thumb {
	background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(233,233,233,0.05)),color-stop(100%,rgba(221,221,221,0.05)));
	background:-webkit-linear-gradient(left,rgba(233,233,233,0.05) 0%,rgba(221,221,221,0.05) 100%);
	-webkit-box-shadow:0 2px 1px 0 rgba(0,0,0,.05),inset 1px 1px 0 0 #FFF;
	box-shadow:0 2px 1px 0 rgba(0,0,0,.05),inset 1px 1px 0 0 #FFF;
	background-color:rgba(229,229,229,.9);
	overflow:visible;
	border-radius:4px;
	border:solid 1px #A6A6A6;
}
::-webkit-scrollbar-thumb:hover {
	background-color:rgba(229,229,229,.4);
}
::-webkit-scrollbar-thumb:active {
	background-color:rgba(229,229,229,1);
	-webkit-box-shadow:0 0 1px 0 rgba(0,0,0,.15) inset;
	box-shadow:0 0 1px 0 rgba(0,0,0,.15) inset;
}
::-webkit-scrollbar-corner {
	}
::-webkit-resizer {
	}

#wish {
 width: 800px;
 height: 2000px;
 margin: 0;
 padding: 40px;
 position: relative;
}
.wish {
 width: 160px;height: 80px;color: black;padding:20px 20px 30px 20px;
}
.wish p {
 white-space: normal;
}
.wish .close {
 display:block;position:absolute;top:-5px;left:-5px;background:url(../images/close.png);width:20px;height: 20px;display: none;cursor: pointer
} 

.title {
width:140px;height:40px;color:#FFF;font-size:20px;line-height:40px;position:absolute;top:-20px;left:30px;opacity:0.55;  filter:alpha(opacity=55);background:#000;
}

/*随机选择的便签背景*/ 

.s1 { float:left; background:#F4B300; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(6deg) translateZ(0);  }
.s2 { float:left; background:#AA40FF; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(-5deg) translateZ(0);  }
.s3 { float:left; background:#E0E0E0; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(15deg) translateZ(0);  }
.s4 { float:left; background:#00D8CC; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(-8deg) translateZ(0);  }
.s5 { float:left; background:#00C13F; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(-10deg) translateZ(0);  }
.s6 { float:left; background:#00A4A4; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(14deg) translateZ(0);  }
.s7 { float:left; background:#00A4A4; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(12deg) translateZ(0);  }
.s8 { float:left; background:#FF881D; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(0deg) translateZ(0);  }
.s9 { float:left; background:#AA40FF; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(-3deg) translateZ(0);  }
.s10 { float:left; background:#FF7D23; box-shadow:0px 0px 30px #000; -webkit-transform: rotate(8deg) translateZ(0);  }



