html,body
{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: '方正兰亭黑简体常规',Microsoft Yahei, STheiti, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
}
.nav-bar
{
	float: left;
	width: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	height: 20%;
	background: #2e8bcc;
	color: #FFF;
}
.version
{
	float: left;
	width: 20%;
	position: fixed;
	margin: 0;
	padding: 0;
	text-align: right;
	line-height: 100%;
	text-indent: 0;
	height: 6%;
	top: 14%;
	right: 4%;
	color: #FFF;
}
.version a
{
	color: #FFF;
	text-decoration: none;
}
.version a:hover,
.version a:focus
{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.menu
{
	float: left;
	position: fixed;
	bottom: 0;
	left: 6%;
	width: 20%;
	height: 75%;
	background-color: #F0F0F0;
}
.menu ul
{
	margin: 30px 0;
	padding: 0;
	width: 100%;
	list-style:none;
}
.menu ul li
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
}
.active
{
	border-right: solid 2px #2e8bcc;
}
.menu a
{
	display: block;
	width: 100%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	color: #716B7A;
	text-decoration: none;
	text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.8);
}
.menu a:hover,
.menu a:focus
{
	background: #E0E0E0;
	color: #428BCA;
}
.content
{
	float: left;
	width: 55%;
	position: fixed;
	right: 14%;
	top: 25%;
	height: 70%;
	line-height: 30px;
	overflow:auto;
	text-align: center;
}
.content *
{
	vertical-align:middle;
}
.content p
{
	padding: 0;
	
}
.content img
{
	margin: 0;
	padding: 0;
	border:none
}
.content a
{
	color: #716B7A;
	line-height: 200%;
	text-decoration: none;
	text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.8);
}
.content a:hover,
.content a:focus
{
	background: #E0E0E0;
	color: #428BCA;
}
.footer
{
	float: left;
	width: 55%;
	position: fixed;
	right: 14%;
	bottom: 0;
	height: 5%;
	overflow: hidden;
	background: #A0A0A0;
	text-align: center;
	line-height: 33px;
	font-size: 15px;
}
.footer p
{
	margin: 0;
	padding: 0;
	color: #FFF;
}
.footer a
{
	color: #FFF;
	text-decoration: none;
}
.footer a:hover,
.footer a:focus
{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}
.welcome
{
	width: 80%;
	padding: 0;
	margin: 0 auto;
}
.tag
{
	color: #000;
	float: left;
	display: none;
	position: fixed;
	border: solid 1px #000;
	background: #EEEEEE;
	padding: 15px;
	box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.72), 0 0 0 rgba(0, 0, 0, 0.06) inset;
	z-index: 997;
}
.half
{
	overflow: auto;
	float: left;
	width: 50%;
	height: 40px;
	background: #7fb80e;
}
.halfright
{
	overflow: auto;
	float: left;
	width: 48.5%;
	border-left: solid #000 1px;
	height: 40px;
	background: #7fb80e;
}
.red
{
	background: #d71345;
}
.shader
{
	box-shadow: 50px 50px 50px rgba(0,0,0,0.4) inset; 
}
.over
{
	background: #2e8bcc;
}
.order
{
	text-align: center;
	line-height: 30px;
	padding: 30px;
	display:none;
}
.order #content
{
	padding: 5px;
	margin-top: 10px;
	width: 180px;
}
.order #vcode
{
	float: left;
	padding: 5px;
	margin: 10px 20px 0 0;
	width: 100px;
}
.order img
{
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
}
.order button
{
	font-family: '方正兰亭黑简体常规',Microsoft Yahei, STheiti, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	font-size: 15px;
	padding: 5px;
	margin: 10px 18px;
}
.userCenter
{
	width: 420px;
	height: 100%;
	overflow: auto;
	position: fixed;
	right: -420px;
	background: #FFF; 
	transition: right 0.8s;	
	box-shadow: -5px 0px 5px rgba(0,0,0,0.6);
	z-index: 999;
}
.userCenter.show
{
	right: 0;
}
.widget
{
	display: table;
	text-align: left;
	width: 60px;
	height: 60px;
	top: 50%;
	overflow: auto;
	position: fixed;
	right: 10px;
	transition: right 0.8s;
	z-index: 998;
}
.widget.show
{
	right: 430px;
}
.widget img
{
	margin-left: 5px;
}
.widget span
{
    display: table-cell;
    vertical-align: middle;
}
.info
{
	width: 420px;
	height: 420px;
	background-image: url('../images/sunrise.jpg');
	z-index: 1;
}
.name
{
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	font-weight:bold;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	position: relative;
	top: 40px;
	left: 30px;
}
.avatar
{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 380px;
	margin-left: -40px;
	border-radius: 80px;
	overflow: hidden;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	z-index: 4;
}
.avatar_mask
{
	position: absolute;
	top: 0;
	width: 80px;
	height: 80px;
	background-image: url('../images/mask.png');
	background-size: 80px 80px;
	z-index: 3;
}
.avatar img
{
	position: absolute;
	top: 0;
	width: 80px;
	height: 80px;
	z-index: 2;
}
.options
{
	width: 100%;
	height: auto;
	margin-top: 30px;
	padding: 0;
	overflow: auto;
}
.options a
{
	display: block;
	height: 40px;
	line-height: 40px;
	color: #606060;
	font-size: 20px;
	text-decoration: none;
	font-weight:bold;
	text-align: center;
}
.options a:hover,
.options a:focus
{
	background: #EEEEEE;
}
.options ul
{
	width: 100%;
	margin: 0;
	padding: 0;
}
.options ul li
{
	display: block;
	float: left;
	width: 50%;
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: solid 2px #000;
}
.selected
{
	border-bottom: solid 2px #2e8bcc;
}
.optionContent
{
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.optionContent input
{
	width: 240px;
	padding: 5px;
	margin-top:20px;
	margin-left: 90px;
	border-radius: 5px;
	text-align: center;
	vertical-align:middle;
}
.optionContent button
{
	font-family: '方正兰亭黑简体常规',Microsoft Yahei, STheiti, WenQuanYi Micro Hei, helvetica, arial, sans-serif;
	width: 100px;
	height: 40px;
	margin-top: 20px;
	padding: 0;
	border-radius: 10px;
	font-size: 20px;
	line-height: 35px;
	font-weight:bold;
	color: #FFF;
}
.reset
{
	background: #606060;
	position: absolute;
	left: 90px;
}
.register
{
	background: #2e8bcc;
	position: absolute;
	right: 75px;
}
table
{
	border-collapse: collapse;
	border: none;
	margin: 30px auto 5px auto;
}
td
{
	border: solid #000 1px;
	padding: 0;
}
input, textarea 
{
	color: #000;
}
.placeholder
{
	color: #aaa;
}