body
{
	margin: 20px;
	line-height: 30px;
}
button
{
	padding: 5px;
}
table
{
	margin-top: 10px;
}
.select
{
	padding: 30px;
}
.select p
{
	margin-top: 10px;
}
.select input
{
	padding: 5px;
}
.select button
{
	margin-left: 20px;
}
.date
{
	width:400px;
	height:300px;
	position:absolute;
	top:70px;
	left:100px;
}