.container{
	float: left;
	margin-top:80px;
	margin-left:40px;
}
button
{
	padding: 5px;
}
.select
{
	padding: 30px;
}
.select p
{
	margin-top: 10px;
}
.select input
{
	padding: 5px;
}
.select button
{
	margin-left: 20px;
}
.date
{
	width:400px;
	height:300px;
	position:relative;
	top:70px;
	left:100px;
}